<!DOCTYPE html>
<html>
  <head>
    <title>Registration Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/bootstrap.css">
  </head>
  <body>
    <div class="container">
      <div class="row col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
          <div class="panel-heading text-center">
            <h1>Registration Form</h1>
          </div>
          <div class="panel-body">
            <form  method="post" action="{% url 'form' %}">
              {% csrf_token %}
            <input type="hidden" name="create" value="create" >
              <div class="form-group">
                <label for="firstName">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  name="firstName"
                />
              </div>
              <div class="form-group">
                <label for="lastName">Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="lastName"
                  name="lastName"
                />
              </div>
              <div class="form-group">
                <label >Gender</label>
                <div>
                  <label for="male" class="radio-inline"
                    ><input
                      type="radio"
                      name="gender"
                      value="male"
                      id="male"
                    />Male</label>
                  <label for="female" class="radio-inline"
                    ><input
                      type="radio"
                      name="gender"
                      value="female"
                      id="female"
                    />Female</label
                  >
                  <label for="others" class="radio-inline"
                    ><input
                      type="radio"
                      name="gender"
                      value="other"
                      id="others"
                    />Others</label
                  >
                </div>
              </div>
              <div class="form-group">
                <label for="mail">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="mail"
                  name="mail"
                />
              </div>
              <div class="form-group">
                <label for="pass">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="pass"
                  name="pass"
                />
              </div>
              <div class="form-group">
                <label for="num">Phone Number</label>
                <input
                  type="number"
                  class="form-control"
                  id="num"
                  name="num"
                />
              </div>
              <input type="submit" class="btn btn-primary" />
            </form>
          </div>
          
        </div>
      </div>
    </div>
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
 
  <!-- accordion Collapsible -->
  
{% if objects %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col"># </th>
        <th scope="col">ID </th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for data in objects %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <th scope="row">{{data.id}}</th>
        <td>{{data.firstName}}</td>
        <td>{{data.lastName}}</td>
        <td>{{data.gender}}</td>
        <td>{{data.email}}</td>
        <td>{{data.phnumber}}</td>
        <td>
          <form action="{% url 'form' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="delete" value="delete" >
            <input type="hidden" name="instance_id" value="{{data.id}}" >
            
          <button   onclick="myFunction()" type="submit" class="badge badge-danger badge-warning py-2 px-3">Delete</button>
          </form>
        </td>
        <td>
             
          
          

        
        
        <!-- Update -->
        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#exampleModalCenter{{forloop.counter}}">Edit</button>
      </tr>
        <!-- Modal -->
        <div class="modal fade modal-dialog-centered" id="exampleModalCenter{{forloop.counter}}" role="dialog">
          <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p class="modal-title">Update</p>
              </div>
              <div class="modal-body">
                <form  method="post" action="{% url 'form' %}">
                  {% csrf_token %}
                  <input type="text" name="update" value="update" >
                  <input type="text" name="update_id" value="{{data.id}}" >
                  <div class="form-group row">
                    <label for="fname{{forloop.counter}}" class="col-sm-2 col-form-label">First Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="fname" id="fname{{forloop.counter}}" value="{{data.firstName}}" placeholder="Last Name">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="lname{{forloop.counter}}" class="col-sm-2 col-form-label">Last Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="lname" id="lname{{forloop.counter}}" value="{{data.lastName}}" placeholder="Last Name">
                    </div>
                  </div>
                  
                  
                
                <div class="form-group row">
                  <label for="mail{{forloop.counter}}" class="col-sm-2 col-form-label">Email</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" name="mail" id="mail{{forloop.counter}}" value="{{data.email}}" placeholder="Email">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="pass{{forloop.counter}}" class="col-sm-2 col-form-label">Password</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="pass" id="pass{{forloop.counter}}" value="{{data.password}}" placeholder="Password">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="phnumber{{forloop.counter}}" class="col-sm-2 col-form-label">Phone Number</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="num" id="phnumber{{forloop.counter}}" value="{{data.phnumber}}" placeholder="Phone Number">
                  </div>
                </div>

                <button type="submit" class="btn btn-primary btn-sm">Update</button>

                </form>
              </div>
              
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      
      {% endfor %}
     
    </tbody>
  </table>
{% endif %}

<script>
  function myFunction(){
    swal({
        title: "Are you sure?",
        text: "Once deleted, you will not be able to recover this imaginary file!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
      .then((willDelete) => {
        if (willDelete) {
          swal("Poof! Your imaginary file has been deleted!", {
            icon: "success",
          });
        } else {
          swal("Your imaginary file is safe!");
        }
      });
  }   
</script>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>
